/******************************************************************

Stylesheet: 1200px以上のモニタで適用

******************************************************************/
.c-container {
  padding: 0 10vw;
}

//.header
.header {
  & .logo__img {
    margin-left: 10vw;
  }

  & .pc-nav {
    margin-right: 5vw;
  }
}

//p-firstview 
.p-firstview {
  margin: 0 10vw 13vw 10vw;

  & .swiper-container {
    height: 78vh;

    .view-sp {
      display: none;
    }
  }
}

//.p-asides 
.p-asides {
  &__block {
    height: 170px;
  }
}

//.p-eyecatch
.p-eyecatch {
  &__image {
    padding: 0 10vw;
  }
}

//.p-recruit
.p-recruit {
  padding: 10vw 0;
}

//.p-news 
.p-news {
  padding: 0 7vw;

  &__link {
    padding: 2vw 5vw;
  }
}

//.p-access
.p-access {
  padding: 12vw 0 10vw 0;
}

//.p-asides
.p-asides {
  padding: 0 10vw;
}

//.p-footer
.p-footer {
  padding: 5vw 0;
}

//* * * * * * staff-page * * * * * * *
.c-staff {
  padding: 0;

  &__title {
    & p {
      margin-top: 5vw;
    }
  }

  &__list {
    margin-top: 7vw;
  }
}

//* * * * * * recruit-page * * * * * * *
.c-recruit {
  padding: 3vw 0 5vw 0;

  &__title {
    & p {
      margin-top: 5vw;
      font-size: 1.2rem;
    }
  }

  &__list {
    margin-top: 3vw;
    font-size: 1.2rem;
  }

  &__subtitle {
    font-size: 1.4rem;
  }

  &__item {
    margin: 25px 0;
  }

  &__btn {
    font-size: 1.4rem;
  }
}

//* * * * * * news-page * * * * * * *
.c-news {
  padding-top: 10vw;

  &__title {
    margin-bottom: 5vw !important;
  }

  &__list {
    font-size: 1.5rem;

    & a {
      padding: 2.5vw 0 2.5vw 5vw;
    }
  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {
  & .c-container {
    padding: 0 12vw;
  }

  &__list {
    padding-top: 6vw;
  }

  &__contents {
    padding: 8vw 0;
  }
}