//setting
body {
  margin: 0;
  font-family: 'Newsreader', serif;
}

.superwrapper {
  background-color: #727171;
  color: rgb(243, 240, 240);
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.superwrapper {
  position: relative;
  overflow: hidden;
}

.c-container {
  padding: 0 7vw;
}

.c-txt-lr {
  font-size: 1.4rem;
  letter-spacing: 5px;
  line-height: 2;
  color: $cWhite;
  margin-top: 0;
  font-weight: 100;
}

.c-txt-md {
  font-size: .9rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cWhite;
  margin: 0;
}

.c-txt-sm {
  font-size: .7rem;
  letter-spacing: 3px;
  line-height: 2;
  color: $cWhite;
}

.c-txt-xs {
  font-size: .5rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}

.c-title {
  position: relative;
  font-weight: 100;
  letter-spacing: 5px;
  display: inline-block;
  font-size: 1.8rem;
  padding-left: 9vw;

  &::before {
    position: absolute;
    top: 18px;
    left: 0;
    content: '';
    display: inline-block;
    width: 7vw;
    height: 1px;
    background-color: $cWhite;
  }
}

.view-more {
  margin-top: 10vw;
  text-align: right;

  & span {
    display: inline-block;
    letter-spacing: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid $cWhite;
  }
}

.icon-tel {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 0;
  background-image: url(/images/common/tel-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 12px;
}

.icon-net {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 0;
  background-image: url(/images/common/icon-link-1-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 13px;
  width: 13px;
}

.icon-map {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(/images/common/ico-map-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }

}

.icon-insta {
  position: relative;
  padding-left: 10vw;
  color: $cBlack;
  border-bottom: 1px solid $cGray;
  padding-bottom: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/images/common/icon-insta-gr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
  }
}


//header
.header {
  height: 60px;
}

// firstview
.p-firstview {
  margin: 0 4.5vw 18vw 4.5vw;

  & .swiper-container {
    @media (max-width:1199px) {
      .view-pc {
        display: none;
      }
    }
  }
}

// concept
.p-concept {
  padding: 30vw 0 10vw 0;

  & .c-txt-md {
    margin-bottom: 20px;
  }

  &__title {
    margin: 70px 0 50px 0;
  }

  &__img {
    margin: 0 -7vw 5vw -7vw;
  }
}

//features
.p-features {
  position: relative;
  padding: 15vw 0 0 0;

  &__text-label {
    position: absolute;
    top: 35px;
    right: -10px;
    transform: rotate(90deg);
  }

  & .treatment {
    top: 54px;
    right: -20px;
  }

  &__main {
    position: relative;
    margin-bottom: 20vw;
    padding-right: 20vw;
  }

  &__title {
    margin-bottom: 10vw;
  }

  & .space {
    right: 0;
  }

  &__desc {
    position: relative;
    border-top: 3px solid rgb(226, 226, 226);
    margin: -10vw 0 0 13vw;
    padding: 3vw;
    z-index: 100;
    width: 120%;
    background-color: #727171;
    box-shadow: 20px 25px 45px rgb(87, 87, 87);
    ;

    &-title {
      padding: 10px 0;
      font-size: .9rem;
    }

  }

  &__img {
    height: 300px;
  }
}

// eyecatch
.p-eyecatch {
  padding-top: 100px;
  padding-bottom: 100px;

  &__image {

    &>img {
      object-fit: cover;
    }
  }
}

// menu
.p-menu {

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;
  }

  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 60px auto 0;
  }

  &__block {
    width: 100%;
    margin-bottom: 5vw;
  }

  &__table {
    width: 100%;
    font-size: 13px;

    & tr {
      display: flex;
      justify-content: space-between;
    }
  }
}

// staff
.p-staff {

  &__img {
    width: 80%;
    height: 300px;
  }

  &__name__ja,
  &__name__en {
    display: block;
  }

  &__name {
    margin-bottom: 10px;
    letter-spacing: 3px;

    &__en {
      font-size: .7rem;
    }

  }

  &__title {
    margin-top: 80px;
    margin-bottom: 50px;
    // text-align: center;
    font-weight: 300;
  }

  &__block {
    padding-bottom: 15vw;
  }

  &__desc {
    position: relative;
    border-top: 3px solid rgb(226, 226, 226);
    margin: -10vw -7vw 0 13vw;
    padding: 3vw;
    z-index: 100;
    background-color: #727171;
    box-shadow: 20px 25px 45px rgb(87, 87, 87);
    ;

    &-title {
      padding: 10px 0;
      font-size: .9rem;
    }
  }
}

//access
.p-access {
  padding: 25vw 0 10vw 0;

  &__address {
    margin-bottom: 40px;
  }

  &__info {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 48px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: -18px;
    }
  }

  &__title {
    padding-bottom: 5vw;
  }

  dd {
    margin-bottom: 5px;
  }

  dl {
    :nth-child(2) {
      margin-bottom: 30px;
    }

    :nth-child(4) {
      margin-bottom: 30px;
    }
  }

  &__map {
    text-align: right;

    & span {
      padding: 0 0 2vw 5.5vw;
      border-bottom: 1px solid $cWhite;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        height: 18px;
        width: 18px;
        background-image: url(/images/common/ico-map-white.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }
}

//.p-asides
.p-asides {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: 80px auto 0;

  &__block {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-top: 1px solid #727171;
    border-left: 0;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #727171;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      background-image: url(/images/arrow.svg);
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      position: absolute;
      right: 35px;
      top: 18px;
    }
  }

  &__label {
    position: absolute;
    font-size: 30px;
    line-height: 40px;
    left: 30px;
    top: 20px;
    z-index: 1;
  }

  &__text {
    line-height: 20px;
    position: absolute;
    left: 30px;
    font-size: 14px;
    bottom: 50px;
    z-index: 1;
  }

  &__domain {
    position: absolute;
    bottom: 25px;
    left: 30px;
    line-height: 20px;
    font-size: 10px;
  }
}

//.p-recruite
.p-recruit {
  padding: 20vw 0;

  &__title {
    text-align: left;
    margin-bottom: 10vw;
  }

  &__subtitle {
    font-size: 0.9em;
    padding-bottom: 10px;
  }
}

//#news
.p-news {
  position: relative;
  padding: 10vw 0;

  &__tit {
    margin-bottom: 10vw;

    & p {
      margin-bottom: -20px;
      font-weight: 100;
      letter-spacing: 5px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  &__item {
    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }
  }

  &__link {
    display: block;
    padding: 5vw 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    font-size: .8rem;

    & p {
      margin-top: 2vw;
    }

    & span {
      padding: 3px;
      border-radius: 5%;
      background-color: rgb(104, 104, 104);
    }
  }

  & .view-more {
    padding-right: 0;
    text-align: right;
    letter-spacing: 2px;
  }

}

// footer
.p-footer {
  position: relative;
  padding: 15vw 0;

  &__logo {
    padding: 5vw 0;
  }

  &__logo-img {
    width: 100px;
    height: 64px;
    background-image: url(/images/common/riv_logo_official-wh2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }

  &__copyright {
    text-align: center;
    font-size: 12px;
  }

  &__sns {
    display: flex;
    justify-content: center;
    margin-bottom: 0vw;
  }

  & .sns-link {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 0 5px 8px rgb(182, 182, 182);
    transition: box-shadow 1s;
  }

  & .sns-insta {

    & i {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-image: url(/images/common/icon-insta-gr.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 22px;
      width: 22px;
    }
  }

  & .sns-fb {

    & i {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-image: url(/images/common/facebook-ico.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 22px;
      width: 22px;
    }
  }
}


//* * * * * * * * * staff-page * * * * * * * * * * 
.c-staff {
  padding: 15vw 0;
  letter-spacing: 3px;
  line-height: 2;

  &__title {
    & span {
      padding-top: 8vw;
      text-align: center;
      font-weight: 100;
      font-size: 2rem;
      display: block;
    }

    & p {
      margin-top: 10vw;
      font-size: .5rem;
      line-height: 2;
    }

  }

  &__list {
    margin-top: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 45%;
  }

  &__img {
    height: 200px;
  }

  &__name {
    margin: 10px 0;
    text-align: center;
    font-size: .7rem;
  }

  &__desc {
    margin: 10px 0 20px 0;
    font-size: .5rem;
  }
}

//* * * * * * * * * recruit-page * * * * * * * * * * 
.c-recruit {
  padding: 15vw 0;
  letter-spacing: 3px;
  line-height: 2;

  &__title {
    & span {
      padding-top: 8vw;
      text-align: center;
      font-weight: 100;
      font-size: 2rem;
      display: block;
    }

    & p {
      margin-top: 10vw;
      font-size: .5rem;
      line-height: 2;
    }

  }

  &__list {
    margin-top: 10vw;
    font-size: .6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__btn {
    text-align: right;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: .7rem;
    margin-top: 30px;

    & span {
      position: relative;
      padding-left: 20px;
      padding-bottom: 8px;
      border-bottom: 1px solid rgb(148, 148, 148);

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-image: url(/images/common/icon-tel.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__name {
    text-align: center;
    font-size: .7rem;
  }

  &__desc {
    font-size: .5rem;
  }
}

//* * * * * * news-page * * * * * * * 
.c-news {
  padding: 20vw 0 10vw 0;
  letter-spacing: 3px;

  &__link {
    display: block;
    padding: 4vw 0;
    border-bottom: 1px solid rgb(235, 235, 235);


    & p {
      margin-top: 2vw;
      font-size: .5rem;
    }

    & span {
      padding: 3px;
      border-radius: 5%;
      background-color: rgb(104, 104, 104);
    }
  }

  &__list {
    padding-bottom: 5vw;
  }

  &__item {
    &:first-of-type {
      border-top: 1px solid rgb(235, 235, 235);

    }
  }

  .page-numbers {
    margin: 12vw 0;
  }

  .page-numbers:not(.next):not(.prev) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cBlack;

    & .current {
      border: 1px solid rgba(0, 0, 0, 0);
      background: #dffde2 !important;
    }

    & .page-numbers:not(.next):not(.prev) {
      width: 8vw;
      height: 8vw;
      border-radius: 100%;
      border: 1px solid #C4CCD1;
      background: #fff;
      margin: 0 1.3vw;
    }

    & .next {
      position: relative;
      padding-right: 22px;
      padding-left: 20px;
      top: 0;

      &::after {
        transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
        content: "";
        position: absolute;
        right: 0;
        background-image: url(/images/common/arrow.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 0;
        width: 15px;
        height: 15px;
        margin-left: 8px;
      }
    }

    @media (max-width:767px) {
      & .next {
        display: none;
      }
    }

    @media (min-width:768px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 40px;
        height: 40px;
      }

      & .next {
        top: 0;
      }
    }

    @media (min-width:960px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 60px;
        height: 60px;
        font-size: 1.4rem;
        color: $cSubBlack;
      }

      & .next {
        font-size: 1.4rem;

        &::after {
          top: 4px;
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  &__contents {
    line-height: 2;
    font-size: .8rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 10vw;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .c-news__block {
    padding: 8vw 0;
  }
}

//* * * * * * news-single-page * * * * * * * 
.c-news-sl {
  padding: 10vw 0;

  & .c-container {
    padding: 5vw 5vw 0 5vw;
  }


  &__list {
    padding: 15vw 0 0 0;
  }

  &__contents {
    padding: 12vw 0;
    line-height: 2.5;

    & p {
      font-size: .5rem;
    }
  }

  &__link {
    margin: 0 0 10vw 0;
    text-align: right;
    font-size: .8rem;

    & a {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 1px solid $cWhite;
    }
  }
}